# Node modules and related files
/backend/node_modules
/backend/.pnp
/backend.pnp.js

# Build artifacts
/backend/build
/backend/dist

# Environment variables
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
.venv/
# Logs
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# Miscellaneous
/backend/.DS_Store
/backend/config.py

.idea
.myenv
/backend/__pycache__
/backend/utils/__pycache__/

# solar system
de421.bsp
