html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#data-wrapper{
  display: flex;
  margin: 20px; 
  min-width: 100vw;
  min-height: 100%;
  padding: 20px;
  /* background-color: black; */
}

.neo-App {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  background-color:azure
  

}

.calendar-wrapper {
  margin: 20px 0 0 20px;
}

.header-bar-container {
  padding: 20px;
  background-color: beige;
}