/* NearEarthObjs.css */
#near-earth-objs-wrapper {
    max-height: 1000px;
    max-width: fit-content;
    /* display: flex;     */
    overflow-y: scroll;
    position: flex;
    min-height: 100%;
}

#near-earth-objs-container {
    max-height: fit-content;    
    min-width: fit-content;
    
}

#near-earth-objs-container p {
    max-height: fit-content;    
    /* display: flex;     */   
}

#near-earth-objs-data {
    min-height: fit-content;
}

.date-range {
    max-height: 75px;
  }