.header-bar-container {
    margin: 20px;
}
.date-range {
    margin: 20px;
}

#near-earth-objs-wrapper {
    padding: 20px;
}


.objs-container {
    border: 1px solid #ccc;
    /* max-width: fit-content; */
    padding: 10px;

}

.initial-data {
    max-width: 500px;
}

#near-earth-objs-wrapper {
    max-width: fit-content;
}

.user-approach-container {
    /* display: flex; */
    /* flex-direction: row; */
    overflow-x: scroll; /* Enable horizontal scrolling */
    border: 1px solid #ccc;
    max-width: 100vw;   
  }

  .orbit-chart {
    margin: 10px;
  }
  
  /* Style the child elements within the container */
  .unit-selectors,
  .past-approach-container,
  .future-approach-container,
  .nowRef { /* Add your other child elements if needed */
    flex: 0 0 auto; /* Make elements inflexible and take their minimum width */
    padding: 5px; /* Add padding for spacing */
  }

  .approach {
    display: flex;
    /* overflow-x: scroll; */
  }

  .past-approach-container {
    display: flex;;
  }
  .future-approach-container {
    display: flex;
  }

  .past-approach-data {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
  }

  .future-approach-data {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
  }