#user-obj-data-wrapper {
    /* styles for the main wrapper element */
  }
  #user-obj-data-wrapper {
  display: grid; /* Set the wrapper to use a grid layout */
  grid-template-columns: 1fr auto; /* Define columns: 1st takes 1 fraction of space, 2nd takes remaining space */
}
  
  .obj-orbit-data-container,
  .user-approach-container {
    overflow-y: scroll;
    max-height: 100vh;
    margin-left: 10px;
  }

  .obj-orbit-container {
    overflow-y: hidden;
  }
  
  .obj-orbit-data,
  .past-approach-data,
  .future-approach-data {
    /* styles for individual data sections */
    border: 1px solid #ddd; /* add a light border */
    padding: 0.5rem 1rem; /* add some padding */
    margin-bottom: 0.5rem; /* add space between sections */
  }
  
  p {
    /* styles for all paragraphs */
    margin: 0.25rem 0; /* adjust margin for readability */
  }
  
  /* Optional: Add font styles for a cleaner look */
  p strong {
    font-weight: bold; /* bold the labels */
  }