#user-obj-data-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; /* Equal height rows */
  gap: 10px;
  height: 100vh;
  padding: 10px;
}

// ... other styles

.obj-orbit-container {
  grid-column: 1; /* First column */
  overflow-y: hidden;
  margin-bottom: 10px; /* Space below the orbit container */
}

.orbit-chart {
  grid-column: 2; /* Second column */
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-chart {
  width: 100%; /* Full width within the container */
  height: 800px; /* Set the desired height */
}

.user-approach-container {
  grid-column: 3; /* Third column */
  overflow-y: auto;
  margin-top: 10px;
}

.obj-orbit-data,
.past-approach-data,
.future-approach-data {
  border: 1px solid #ddd; /* Light border */
  padding: 0.5rem 1rem; /* Padding */
  margin-bottom: 0.5rem; /* Space between sections */
}

p {
  margin: 0.25rem 0; /* Margin for readability */
}

p strong {
  font-weight: bold; /* Bold labels */
}

.orbit-chart {
  padding-right: 30px;
}